services:
  app:
    build:
      context: .
      dockerfile: build.Dockerfile
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://myuser:mypassword@db:5432/mydb"
    depends_on:
      - db
    command: >
      bash -c "echo 'Waiting for DB to be ready...' && 
               # این دستور schema.prisma را با دیتابیس همگام می‌کند
               npx prisma db push && 
               # سپس برنامه را با عملکرد بهینه (stateful) اجرا می‌کند
               npm run start"

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
