services:
  app:
    # دستور کامل بیلد و اجرا
    command: sh -c "npx prisma db push && npx prisma generate && npm run prisma:seed && npm run build && npm start"

    ports:
      - "3000:3000"

    # restart: always  <-- فعلاً کامنت کنید تا خطا را ببینیم

    environment:
      # برای تست لوکال true، برای سرور false
      NEXT_PUBLIC_IMAGE_UNOPTIMIZED: "true"
      NODE_ENV: production
      HOSTNAME: "0.0.0.0"
      PORT: "3000"

  db:
    restart: always

  minio:
    restart: always
    ports:
      - "9000:9000"
